
# fsp dev reads tasks: from here (since 0.9.0; README, "Running your app: `fsp dev`").
# fespalier:
#   tasks:
#     dev:
#       before: dart run build_runner build -d # one-shot, before flutter run
#       with:
#         build_runner: dart run build_runner watch -d # long-running, next to it
#     codegen: dart run build_runner build -d # fsp run codegen
