{% from "new/_macros.dart" import func %}
import 'package:fespalier/fespalier.dart';

{{ func("Future<String> data", ["Ref ref"], segs|map(attribute="param")|list, " async", "'Hello from " ~ path ~ "'") }}
