import 'package:flutter/material.dart';

{% if function %}
Widget error({required Object error, required VoidCallback retry}) => Center(
      child: TextButton(onPressed: retry, child: Text('$error · retry')),
    );
{% else %}
class {{ stem }}Error extends StatelessWidget {
  const {{ stem }}Error({super.key, required this.error, required this.retry});

  final Object error;
  final VoidCallback retry;

  @override
  Widget build(BuildContext context) => Center(
        child: TextButton(onPressed: retry, child: Text('$error · retry')),
      );
}
{% endif %}
