{% from "new/_macros.dart" import classdecl, ctor %}
import 'package:flutter/material.dart';

{% if function %}
Widget layout({required Widget child}) => child;
{% else %}
{{ classdecl(stem ~ "Layout", "StatelessWidget") }}
{{ ctor(stem ~ "Layout", ["super.key", "required this.child"]) }}

  final Widget child;

  @override
  Widget build(BuildContext context) => child;
}
{% endif %}
