import 'package:flutter/material.dart';

{% if function %}
Widget layout({required Widget child}) => child;
{% else %}
class {{ stem }}Layout extends StatelessWidget {
  const {{ stem }}Layout({super.key, required this.child});

  final Widget child;

  @override
  Widget build(BuildContext context) => child;
}
{% endif %}
