{% from "new/_macros.dart" import classdecl, ctor %}
import 'package:flutter/material.dart';

{% if function %}
Widget loading() => const Center(child: CircularProgressIndicator());
{% else %}
{{ classdecl(stem ~ "Loading", "StatelessWidget") }}
{{ ctor(stem ~ "Loading", ["super.key"]) }}

  @override
  Widget build(BuildContext context) =>
      const Center(child: CircularProgressIndicator());
}
{% endif %}
