import 'package:flutter/material.dart';

class {{ stem }}Loading extends StatelessWidget {
  const {{ stem }}Loading({super.key});

  @override
  Widget build(BuildContext context) =>
      const Center(child: CircularProgressIndicator());
}
