import 'package:flutter/material.dart';

{% if function %}
Widget loading() => const Center(child: CircularProgressIndicator());
{% else %}
class {{ stem }}Loading extends StatelessWidget {
  const {{ stem }}Loading({super.key});

  @override
  Widget build(BuildContext context) =>
      const Center(child: CircularProgressIndicator());
}
{% endif %}
