{% from "new/_macros.dart" import classdecl, ctor, func, arrow %}
{% if function %}
import 'package:flutter/material.dart';

{% if name %}
const routeName = '{{ name }}';

{% endif %}
{% if data %}
{{ func("Widget page", [], ["required String data"], "", "Center(child: Text(data))") }}
{% elif segs %}
{{ func("Widget page", [], segs|map(attribute="param")|list, "", "Center(child: Text('" ~ stem ~ label ~ "'))") }}
{% else %}
{{ arrow("", "Widget page()", "const Center(child: Text('" ~ stem ~ "'))") }}
{% endif %}
{% else %}
import 'package:fespalier/fespalier.dart';
import 'package:flutter/material.dart';

{{ classdecl(stem ~ "Page", "HookConsumerWidget") }}
{% if data %}
{{ ctor(stem ~ "Page", ["super.key", "required this.data"]) }}

  final String data;
{% elif segs %}
{{ ctor(stem ~ "Page", ["super.key"] + segs|map(attribute="field")|list) }}

{% for s in segs %}
  final {{ s.ty }} {{ s.name }};
{% endfor %}
{% else %}
{{ ctor(stem ~ "Page", ["super.key"]) }}
{% endif %}

  @override
{{ arrow("  ", "Widget build(BuildContext context, WidgetRef ref)", "Center(child: Text(" ~ ("data" if data else "'" ~ stem ~ label ~ "'") ~ "))") }}
}
{% endif %}
